body {
    background-color: #d4edda;
}

.cooldrinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 40px;
}

.cool-box {
    width: 220px;
    padding: 15px;
    background-color: #eaf8e6;
    border-radius: 10px;
    border: 4px solid rgb(7, 123, 44);
    text-align: center;
    transition: 0.3s;
}

.cool-box img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.cool-box:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.Product-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgb(42, 104, 6);
}

.Product-info {
    font-size: 20px;
    margin-bottom: 5px;
}

.add-button {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: lightblue;
    border: none;
    text-decoration: none;
}

.add-button:hover {
    background-color: coral;
    padding: 8px 15px;
}
